@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
}
/* --------------------header-------------------- */
header{
    background-image:url('asset/head.jpg') ;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
li{
    padding: 2%;
}
li a{
    text-decoration: none;
    color: white;
}
li a:hover{
    background-color: rgba(0, 0, 0, 0.692);
    border-radius: 10px;
    padding: 5px;
}
.sarch{
 float: right;
}
.search{
    color: rgb(248, 227, 227);
    background-color:white;
    border-radius: 10px;
    padding-right: 35px;
}
.search svg{
    margin-right: 15px;
    margin-left: 10px;
}
.lorem1{
    background-color: #fcac3d7f;
    justify-content: center;
    text-align: center;
    padding: 1%;
    color: white;
}
.lorem2{
    text-align: center;
    padding-top: 4%;
    color: white;
    font-size: larger;
    font-weight: 100;
}
.more{
    border: 3px solid white;
    border-radius: 30px 30px;
    background: transparent;
    color: white;
    margin-bottom: 4%;
}
.learnmore{
    border: 2px solid black;
    border-radius: 30px 30px;
    background: transparent;
    color:black;
    margin-bottom: 5%;
}

/* ------------------footer--------------- */
footer{
    background-image: url(https://img.freepik.com/free-photo/young-man-with-equipment-exploring-nature_23-2148375098.jpg?w=740&t=st=1678516325~exp=1678516925~hmac=a8381fe71e929d4271d6de6eda237bc4c6ae353a4bfdd069dc2717571649c4fb);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    padding-bottom: 30%;
    
}
hr{
    width: 80%;
}
#lorem3{
    text-align: left;
    padding-bottom: 4%;
    font-family: 'Roboto Condensed', sans-serif;
}
.secpotion{
    background-color: #ffaf3c;
    padding: 3%;
}
.black2{
    background-image: url('asset/black2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 10%;
    color: white;
}
.black2 p{
    text-align: center;
}